# ===== Python =====
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
build/
dist/

# ===== 训练产物 / 日志 =====
checkpoints/
runs/
logs/
*.log

# ===== 数据集(体积大,不入库) =====
/data/

# ===== 预训练模型权重(体积大,不入库) =====
bert-base-chinese/
bert-base-uncased/
bertweet-base/
chinese-clip-vit-large-patch14/
chinese-roberta-wwm-ext/
roberta-base/
xlm-roberta-base/

# ===== IDE / 系统 =====
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===== 临时 notebook =====
Untitled*.ipynb
